body {
  margin: 0;
}

.app--canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: grid;
  place-items: center;

}



.invert {
  translate: 90;
}

.app--container {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}

/* Nav Styling */

.nav--container {
  width: 550px;
  height: 90px;
  flex-shrink: 0;
  background: #1f2937;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 6px 6px 0 0;
}

#colorPicker {
  width: 61px;
  height: 43px;
  margin: 12px;
}




/* Dropdown Menu Styling */

.dropdown {
  margin: 12px;
  position: relative;
}

.trigger--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 312px;
  padding: 9px 13px;
  align-items: center;
  gap: 4px;
  background-color: #1F293A;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
}

.menu--trigger {
  color: #D5D4D8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
  border: none;


}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 312px;
  padding: 9px 13px;
  align-items: left;
  gap: 4px;
  border-radius: 6px;
  background: #1F293A;
  list-style: none;

}


.menu--item:hover {
  background-color: #3D4B60;
}

.menu--item {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #D5D4D8;
  margin: 0;

  background-color: #1F2937;

  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}


/* Color Swatches Styling */

.swatch--container {
  width: 550px;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px;
  grid-template-rows: 414px 46px;
  background: #1f2937;
  border-radius: 6px;

}

.swatch {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 414px 46px;
  transition: all .5s ease-in;
}

.hex--code--container {
  display: flex;
  flex-direction: column;
  height: 46px;
  width: 110px;
  color: #d5d4d8;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}

.hex--code {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}



.color--block .copied--bubble {
  visibility: hidden;
  background-color: rgba(131, 130, 130, 0.481);
  color: #ffffff;
  width: 100px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  opacity: 0;
  font-family: Inter, sans-serif;
  transition: all .2s ease-in;
}

.color--block:hover .copied--bubble {
  opacity: 1;
  visibility: visible;

}

.color--block:hover {
  border: 1px solid #ffffff;
  width: 108px;
  height: 416px;

}