/* Nav Styling */

.nav--container {
  width: 550px;
  height: 90px;
  flex-shrink: 0;
  background: #1f2937;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 6px 6px 0 0;
}

#colorPicker {
  width: 61px;
  height: 43px;
  margin: 12px;
}

#colorDropdown {
  display: flex;
  width: 312px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--Menu-colors-Unselected, #1f293a);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.mode--button {
  height: 42px;
  width: 123px;
  display: inline-flex;
  padding: 13px 11px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #3d4b60;
  color: #fff;
  font-size: 12px;
  margin: 16px 12px;
  border: none;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.select-menu-trigger {
  display: flex;
  width: 312px;
  padding: 9px 13px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: #1f293a;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* Dropdown Menu Styling */

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}


/* Color Swatches Styling */

.swatch--container {
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px;
  grid-template-rows: 414px 46px;
  border-radius: 6px;  

}

.swatch {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 414px 46px;
}
.hex--code--container {
  height: 46px;
  width: 110px;
  color: #d5d4d8;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background: #1f2937;
  align-items: center;

}

.hex--code {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding: 11px 28px;
}
